[submodule "libft"]
	path = libft
	url = ./libft
[submodule "get_next_line"]
	path = get_next_line
	url = ./get_next_line
[submodule "ft_printf"]
	path = ft_printf
	url = ./ft_printf
[submodule "push_swap"]
	path = push_swap
	url = ./push_swap
[submodule "minitalk"]
	path = minitalk
	url = ./minitalk
